*{
    margin: 0%;
    padding: 0%;
}

:root{
    --border-radius: 20px;
    --height-input: 40%;
}

body{
    padding: 0%;
    margin: 0%;
    background-color: grey;

}

video{
    display: inline-block;
    position: fixed;
    width: 100%;     
}

.container-forms{
    background-color: gray;
    z-index: 10;
    width: 50%;
    height: 50%;
    /* position: relative; */
    /* top: 0%; */
}

.form-register, .form-login{
    display: grid;
    place-items: center;
    position: absolute;
    width: 30%;
    border-radius: var(--border-radius);
    background-image: linear-gradient(40deg, rgba(0, 255, 255, 0.596),rgba(47, 0, 128, 0.413), rgba(127, 255, 212, 0.526));
}

.form-register{
    height: 70%;
    left: 25%;
    top: 20%;
}

.form-login{
    height: 50%;
    top: 5em;
    right: 8em;
}

.title__form{
    color: aliceblue;
    font-size: 2em;
}


.form__input{
    width: 70%;
    height: var(--height-input);
    border-radius: 40em;
    border-top: none;
    border-width: 3px;
    text-align: center;
    background-color: transparent;
    color: aliceblue;
}

.form__label-mostrar{
    position: relative;
    bottom: 50%;
    right: 20%;
    color: aliceblue;
    font-size: 90%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#mostrar-login:checked, #mostrar-register:checked{
    accent-color: rgb(83, 187, 151);
}

.form__submit{
    width: 30%;
    height: 40%;
    border-radius: .5em;
    border: none;
    position: relative;
    bottom: 75%;
    background-image: linear-gradient(rgba(5, 50, 110, 0.662), rgba(0, 0, 0, 0.829));
    font-family: serif;
    font-size: 1em;
    font-weight: bolder;
    color: aliceblue;
    outline:  double white;

}


.form__input::placeholder{
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.form__input:focus::placeholder{
    color: rgba(240, 248, 255, 0.767);

}

.form__input:focus{
    width: 80%;
    height: auto;
    border-style: hidden;
    height: var(--height-input);
    border-radius: .6em;
    outline: 8px groove rgb(2, 86, 105);
    background-color: rgba(47, 2, 105, 0.46);
    color: aliceblue;
    transition: 90ms;
}

.form__submit:hover{
    cursor: pointer;
    color: lightblue;
    outline: double lightblue;
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
    transition: 70ms;
}


.form__submit:active{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(5, 51, 110));
    transform: scale(0.9);
    transition: 70ms;
}

.link{
    position: absolute;
    bottom: 0%;
    color: aliceblue;
    font-size: 1.5em;
}