html{
    background-image:  url(images/fondoUsuarios.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    display: flex;
    justify-content: center;
}

table, caption, th, td{
    border: 5px groove aqua;
}

table{
    color: aliceblue;
    background-image:  linear-gradient(40deg, rgb(75, 119, 119),rgba(47, 0, 128, 0.413), rgba(127, 255, 212, 0.526));
    width: 90%;
    border-collapse: collapse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

caption{
    background-image:  linear-gradient(40deg, rgba(112, 207, 207, 0.596),rgba(47, 0, 128, 0.413), rgba(127, 255, 212, 0.526));
    border-top-left-radius:  18px;
    border-top-right-radius: 18px;
    line-height: 3em;
    font-family: serif;
    font-weight: bold;
    font-size: 2em;

}

th{
    font-family: serif;
    font-weight: bolder;
    font-size:  x-large;
    text-align: center;
    padding: 1em 2em;
}



td{
    text-align: center;
    padding: .8em 2em;
    font-size: 1.1em;
}

td:hover:not(.celda-actualizar, .celda-eliminar){
    background-color: rgba(173, 216, 230, 0.765);
    color: darkblue;
    transition: .2s;
}



.fila:hover{
    background-color: rgba(173, 216, 230, 0.407);
    transition: .2s;
}

.boton-ventana{
    border: 1px groove rgb(250, 250, 250);
    padding: .6em;
    border-radius: 1.5em;
    background-color: rgba(0, 42, 212, 0.805);
    color: aliceblue;
    font-size: .9em;
}

.boton-ventana:hover{
    outline: 2px groove rgb(0, 0, 0);
    cursor: pointer;
}

.boton-ventana:active{
    color: darkblue;
    background-color: lightblue;

}

.ventana{
    border-radius: 1em;
    background-color: rgba(173, 216, 230, 0.808);
    width: 30%;
    height: 60%;
    font-size: 1.4em;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    margin: auto;
    background-image: linear-gradient(40deg, rgba(0, 255, 255, 0.337),rgba(47, 0, 128, 0.342), rgba(127, 255, 212, 0.331));

}

.container-form{
    height: 100%;
    position: relative;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    margin: auto;
}

.form{
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    margin: auto;
    display: grid;
    place-items: center;

}

.title-form{
    margin: 0%;
}

.container-label-input{
    background-color: rgba(0, 255, 255, 0.473);
    border-radius: 1em;
    width: 70%;
    text-align: center;
    
    .form__input{
        width: 70%;
        text-align: center;
        font-size: .8em;
        border-radius: 1em;
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: .4em groove darkcyan;
        border-top: none;
    }

    .form__input:focus{
        outline: none;
    }

    .form__label{
        font-style: italic;
    }

    
}

.boton-cerrar{
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: rgb(192, 13, 13);
    color: aliceblue;
    width:  2.5em;
    height: 2em;
    font-size: .6em;
    cursor: pointer;
    border-radius: 5px;
}

.boton-cerrar:hover{
    background-color: rgb(173, 0, 0);
}

.celda-actualizar{
    padding: .8em .5em;
}

.form_submit{
    background-image: linear-gradient(rgba(5, 50, 110, 0.662), rgba(0, 0, 0, 0.829));
    color: aliceblue;
    font-size: 1rem;
    width:  6rem;
    height: 2rem;
    border-radius: .5em;
    border: none;
    outline:  double white;
    cursor: pointer;
}

.form_submit:hover{
    cursor: pointer;
    color: lightblue;
    outline: double lightblue;
    background-color: rgb(0, 0, 0);
    transform: scale(1.3);
    transition: 70ms;
}

.form_submit:active{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(5, 51, 110));
    color: aliceblue;
    transform: scale(1  );
    transition: 70ms;
}

.celda-eliminar{
    padding: .8em 1em;
}

.boton-eliminar{
    text-decoration: none;
    padding: .5em;
    background-color: red;
    color: aliceblue;
    border-radius: 1.5em;
    outline: 2px groove rgba(255, 255, 255, 0.689);


}

.boton-eliminar:hover{
    outline: 2px groove rgba(0, 0, 0, 0.689);
}

.boton-eliminar:active{
    color: red;
    background-color: aliceblue;
    transform: scale(1.5);
}

.cerrar-secion{
    color: aliceblue;
}