<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="static/index.css" rel="stylesheet">
</head>
<body>
    
    <!--<video src="static/images/video.mp4" autoplay="true" muted preload="auto" loop></video>-->
        <form class="form-register" action="/registro" method="post">
            <div>
            <h4 class="title__form">Registrate</h4>
            </div>
            <input class="form__input" type="text" name="nombre" placeholder="Nombre">

            <input class="form__input" type="text" name="apellido" placeholder="Apellido">

            <input class="form__input" type="text" name="nom_usuario" placeholder="Nombre de usuario">

            <input class="form__input" type="email" name="correo" placeholder="Correo">

            <input class="form__input" type="password" name="contrasena" placeholder="Contraseña" id="contraseña-register">
            
            <label for="mostrar-register" class="form__label-mostrar" >
                <input type="checkbox" id="mostrar-register" onclick="showRegister()">
                Mostrar Contraseña
            </label>
            <input type="submit" class="form__submit" value="Registrar">
        </form>

        <form action="/validacion" class="form-login" method="post">
            <div>
            <h4 class="title__form">Inicia secion</h4>
            </div>

            <input class="form__input" type="text" name="nom_usuario-a-validar" placeholder="Nombre de usuario">

            <input class="form__input" type="password" name="contraseña-a-validar" placeholder="Contraseña" id="contraseña-login">
            
            <label for="mostrar-login" class="form__label-mostrar" >
                <input type="checkbox" id="mostrar-login" onclick="showLogin()">
                Mostrar Contraseña
            </label>
            <input type="submit" class="form__submit" value="Iniciar secion">
        </form>
        
        
        
        <script src="static/index.js"></script>
        
        <a class="link" href="{{url_for("funcion")}}">inicia secion</a>
</body>
</html>