<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/registro" method="post">
        <h4>Registro</h4>
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellido" placeholder="Apellido">
        <input type="text" name="nom_usuario" placeholder="Nombre de usuario">
        <input type="email" name="correo" placeholder="Correo">
        <input type="password" name="contrasena" placeholder="Contraseña">
        <button  type="submit" href="{{url_for("agregar")}}"></button>

    </form>


</body>
</html>