<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/usuariosRegistrados.css">
    <title>Usuarios</title>
</head>
<body>
    <a href="{{url_for("cerrarSecion")}}" class="cerrar-secion">Cerrar secion</a>
    <table>
        <caption>Usuarios registrados</caption>
        
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>apellido</th>
                <th>Correo</th>
                <th>nombre de usuario</th>
                <th>contraseña</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr class="fila">
                <td>{{usuario._id}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.nom_usuario}}</td>
                <td>{{usuario.contrasena}}</td>
                <td class="celda-actualizar"> 
                    <button class="boton-ventana">Actualizar datos</button>
                    <dialog class="ventana">
                        <div class="container-form">
                            <form class="form" action="/actualizar/{{usuario.nom_usuario}}" method="post">
                                <h4 class="title-form">{{usuario.nom_usuario}}</h4>
                                <div class="container-label-input">
                                    <label class="form__label" for="nombre">Nombre</label>
                                    <br>
                                    <input class="form__input" type="text" name="nombre-a-actualizar" id="nombre" value="{{usuario.nombre}}">
                                </div>
                            
                                <div class="container-label-input">
                                    <label class="form__label" for="apellido">Apellido</label>
                                    <br>
                                    <input class="form__input" type="text" name="apellido-a-actualizar" id="apellido" value="{{usuario.apellido}}">
                                </div>
                            
                                <div class="container-label-input">
                                    <label class="form__label" for="nom_usuario">Nombre de usuario</label>
                                    <br>
                                    <input class="form__input" type="text" name="nom_usuario-a-actualizar" id="nom_usuario" value="{{usuario.nom_usuario}}">
                                </div>
                            
                                <div class="container-label-input">
                                    <label class="form__label" for="correo">Correo</label>
                                    <br>
                                    <input class="form__input" type="email" name="correo-a-actualizar" id="correo" value="{{usuario.correo}}">
                                </div>
                                
                                <div class="container-label-input">
                                    <label class="form__label" for="contraseña">Contraseña</label>
                                    <br>
                                    <input class="form__input" type="text" name="contraseña-a-actualizar" id="contraseña" value="{{usuario.contrasena}}">
                                </div>
                                <div>
                                    <input class="form_submit" type="submit" value="Actualizar">
                                </div>
                            </form>
                            <button class="boton-cerrar">X</button>
                        </div>
                    </dialog>     
                </td>
                <td class="celda-eliminar"> 
                    <a href="{{url_for("eliminar", nombre_usuario=usuario.nom_usuario)}}" class="boton-eliminar">Eliminar</a> 
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
<script src="static/usuariosRegistrados.js"></script>
</html>